body{
    background: #000;
    color:#fff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: solid 1px #d5d5d5;
}

.logo{
    height: 69px;
    margin: 25px 0 5px 30px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
    flex:1;
}

.greeting h2{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.input_reg{
    width: 500px;
    height: 15px;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    background: #000;
    color: #fff;
    border: solid 1px #d5d5d5;
    margin: 20px 0;
}

.input_submit{
    width: 250px;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 40px 0;
    margin-bottom: 30px;
    background: #d5d5d5;
    transition: 400ms;
}

.input_submit:hover{
    background: #fff;
    transform: scale(1.1);
    border-radius: 25px;
}

.have_an_account{
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
}

.have_an_account a{
    color: #fff;
}

.have_an_account a:hover{
    color: #7d7fff;
}

footer{
    border-top: solid 1px #d5d5d5;
    font-size: 12px;
    text-align: center;
}

.end_of_reg{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.error_msg p{
    margin: 0;
    padding: 0;
    color: #ff4545;
    font-size: 20px;
    font-weight: 500;
}

.reg_succsesful{
    margin: 0 0 20px 0;
    padding: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}